* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
}

i {
    margin: 0 2rem;
    font-size: 1.8rem;
    color: #258af0;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(27,95,183,1) 0%, rgba(48,147,231,1) 100%);
}

.inner-container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.main-title {
    padding: 2rem 0;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.623);
    text-transform: uppercase;
}

/* INPUT */

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 3px;
}

.input-container > input {
    width: calc(100% - 12rem);
    height: 80%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    caret-color: #258af0;
}


/* NAV */

.nav-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
}

.nav-task > i.opacity {
    opacity: 0.4;
}

.nav-task__select {
    margin: 0 2rem;
}

.nav-task__select > span {
    padding: 0.7rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #258af0;
}
.nav-task__select > span:hover {
    background-color: #cad9e9a9;
    cursor: pointer;
    border-radius: 10px;
}

/* TODO LIST */

.todo-list__list {
    width: 100%;
    list-style-type: none;
}

.todo-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    border-top: 1px solid rgba(128, 128, 128, 0.397);
}

.todo-list__item > .task > span {
    font-size: 1.3rem;
    color: #258af0;
}

.todo-list__item > i.red {
    color: red;
}